service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read;
      allow create: if request.auth.uid == userId && request.resource.data.createdAt == request.time;
    }
    match /rooms/{roomId} {
      allow read;
      // If you create a room, you must set yourself as the owner.
      allow create: if request.resource.data.owner == request.auth.uid;
      // Only the room owner is allowed to modify it.
      allow update: if resource.data.owner == request.auth.uid;
    }

    // Ruleset 1:  Full read/write support, do as you wish
    //match /players/{playerId} {
    //  allow read, write;
    //}

    // Ruleset 2:  Using "in resource.data"
    match /players/{document=**} {
      allow write;  // keep writes simple, so we can create our test data
      allow read: if !('private' in resource.data);
    }
  }
}
